@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
:root{
  --gradient-hero: linear-gradient(
    90deg,
    #4775C1 0%,
    #5184D5 30%,
    #AECDFD 70%,
    #5184D5 100%
  );
}
@theme {
  --color-primary: #3972FF;
  --color-secondary:#EE4A62;
  --color-light-primary: #ffffff;   /* أبيض خالص */
  --color-light-secondary: #F0F4F5; /* رمادي فاتح */
  --color-dark-primary: #111827;    /* خلفية داكنة أساسية */
  --color-dark-secondary: #1f2937;  /* خلفية داكنة أفتح شوي */
  --color-text-grayDark:#606060;     
  --color-text-grayLight:#BBBBBB;     
  --color-hero-blue:#4775C1;
  --color-social-icons:#1C4281;
   --gradient-hero: linear-gradient(
    90deg, 
    #4775C1 0%, 
    #5184D5 30%, 
    #AECDFD 70%, 
    #5184D5 100%
  );
 
}
@layer base {
  .dark {
    --color-dark-primary: #111822; /* نفس الأساسي */
    --color-dark-secondary: #1c242f; /* نفس الثانوي */
  }
}

html.dark {
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}
html.light {
  background-color: var(--color-light-secondary);
  color: var(--color-dark-primary);
}
 
.container{
  width:90%;
  margin: 0 auto;
}
 

.event-scroll::-webkit-scrollbar {
  width: 0; /* عرض شريط التمرير */
}