/* -------------------------------------------------- */
/*  Design Tokens - Used Globally Across the Project  */
/* -------------------------------------------------- */

@layer theme {
  :root {
    /* Brand Colors */
    --color-primary: #4a69e2;
    --color-footer: #252e74;
    --color-primary-200: #6673d5;
    --color-secondary: #ee4a62;
    --color-bg: #ffffff;
    --color-bg-alt: #f0f4f5;

    /* Text Colors   */
    --color-text-primary: #272626;
    --color-text-secondary: #6b7280;
    --color-text-gary: #d1d5dc;
    --color-text-gary-footer: #d1d5dc;

    /* borders */
    --border-primary: #e5e7eb;
    --border-secondary: #64748b;

    /* Shadows */
    --shadow-sm: 0 1px 3px rgba(233, 227, 227, 0.31);
    --shadow-md: 0 4px 6px rgba(175, 169, 169, 0.722);
    --shadow-lg: 0 10px 20px rgba(188, 179, 179, 0.84);

    /*Dark Mode*/
    --color-text-primary-dark: #f1f1f3;
    --color-text-secondary-dark: #d2d2d2;
    --border-primary-dark: #7c94c4;
    --border-secondary-dark: #eeeef0;
    --color-bg-dark: #1c242f;
    --color-bg-alt-dark: #1f2937;
    --color-text-gary-dark: #1f2937;

    /* Border Radius */
    --radius-sm: 7px;
    --radius-md: 10px;
    --radius-lg: 16px;
    --radius-xlg: 20px;
    --radius-2xl: 24px;
    --radius-3xl: 28px;
    --radius-4xl: 32px;

    /* Typography */
    --font-sans: "Inter", sans-serif;
    --font-heading: "Poppins", sans-serif;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --font-regular: 400;
    --font-bold: 700;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 20px;
    --space-xl: 24px;
    --space-2xl: 28px;
    --space-3xl: 32px;
    --space-4xl: 32px;
  }

  /* Dark Variant */
  :root.dark {
    --color-bg: var(--color-bg-dark);
    --color-bg-alt: var(--color-bg-alt-dark);
    --color-text-primary: var(--color-text-primary-dark);
    --color-text-secondary: var(--color-text-secondary-dark);
    --border-primary: var(--border-primary-dark);
    --border-secondary: var(--border-secondary-dark);
    --color-text-gary: var(--color-text-gary-dark);
  }
}
